n8n-workflow.json
{
  "name": "SeerooTravels WhatsApp AI Chatbot Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/webhook",
        "options": {}
      },
      "id": "webhook-trigger-node-id",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "value2": "text"
            }
          ]
        }
      },
      "id": "check-text-msg-id",
      "name": "Is Text Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "phone",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}"
            },
            {
              "name": "senderName",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "parse-message-fields-id",
      "name": "Parse Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the highly intelligent travel agent assistant for *SeerooTravels* (Tagline: \"Explore Beyond Boundaries\") connected via WhatsApp.\nYour tone is extremely friendly, helpful, professional, and clear. Use bold markup (*text*) for key terms since this is WhatsApp.\n\nYou have tools to search travel packages (Dubai, Turkey, Thailand, Malaysia, Azerbaijan, and Umrah) and book inquiries. If a user asks about packages, look them up. If they want to make an inquiry or book, run the booking tool with their details (name, phone, service, destination, message). Ask for missing details if they haven't provided them yet.\n\nBe descriptive yet concise since customers read messages on mobile phones."
        }
      },
      "id": "ai-agent-node-id",
      "name": "SeerooTravels AI Agent",
      "type": "n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "groq-chat-model-id",
      "name": "Groq Llama 3 Chat Model",
      "type": "n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        800,
        480
      ],
      "credentials": {
        "groqApi": {
          "id": "your-groq-api-key-credential-id"
        }
      }
    },
    {
      "parameters": {
        "contextKey": "chat_history",
        "sessionKey": "={{ $('Parse Details').item.json.phone }}"
      },
      "id": "chat-history-memory-id",
      "name": "Window Memory",
      "type": "n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        920,
        480
      ]
    },
    {
      "parameters": {
        "name": "SearchPackages",
        "description": "Useful for looking up travel packages (including pricing, duration, features, and destinations) for Dubai, Turkey, Thailand, Malaysia, Azerbaijan, and Umrah. The input must be a search term like a country or package category.",
        "jsCode": "const response = await fetch(\"YOUR_APPS_SCRIPT_WEB_APP_URL?action=getPackages\");\nconst json = await response.json();\nconst query = (input || \"\").toLowerCase();\nconst filtered = json.data.filter(p => \n  p.PackageName.toLowerCase().includes(query) || \n  p.Destination.toLowerCase().includes(query) || \n  p.ShortDescription.toLowerCase().includes(query)\n);\nreturn JSON.stringify(filtered);"
      },
      "id": "search-packages-tool-id",
      "name": "Search Packages Tool",
      "type": "n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        1100,
        480
      ]
    },
    {
      "parameters": {
        "name": "CreateBookingInquiry",
        "description": "Useful for lodging a travel reservation or inquiry. Input MUST be a JSON string with the following schema: { \"name\": \"Customer Name\", \"phone\": \"Contact Phone\", \"service\": \"Flight Booking | Visa Assistance | Hotel Booking | Tour Packages | Umrah Services | Travel Consultation\", \"destination\": \"Target Country\", \"message\": \"Optional query details\" }",
        "jsCode": "try {\n  const args = JSON.parse(input);\n  const params = new URLSearchParams();\n  for (let key in args) {\n    params.append(key, args[key]);\n  }\n  const response = await fetch(\"YOUR_APPS_SCRIPT_WEB_APP_URL\", {\n    method: \"POST\",\n    body: params,\n    headers: { \"Content-Type\": \"application/x-www-form-urlencoded\" }\n  });\n  const result = await response.json();\n  return JSON.stringify(result);\n} catch (e) {\n  return JSON.stringify({ success: false, error: \"Invalid JSON input format.\" });\n}"
      },
      "id": "create-booking-tool-id",
      "name": "Booking Inquiry Tool",
      "type": "n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        1220,
        480
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SPREADSHEET_ID_HERE",
        "range": "WhatsAppLogs!A:H",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LogID": "=WAL-{{ Math.floor(10000 + Math.random() * 90000) }}",
            "Timestamp": "={{ new Date().toISOString() }}",
            "SenderPhone": "={{ $('Parse Details').item.json.phone }}",
            "SenderName": "={{ $('Parse Details').item.json.senderName }}",
            "IncomingMessage": "={{ $('Parse Details').item.json.message }}",
            "DetectedIntent": "Groq AI Agent Response",
            "BotReply": "={{ $json.output }}",
            "Status": "Sent"
          }
        },
        "options": {}
      },
      "id": "gsheet-log-chat-id",
      "name": "Log Chat to GSheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1150,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your-google-oauth-credentials-id"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/YOUR_PHONE_NUMBER_ID/messages",
        "authentication": "predefined",
        "nodeCredentialType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WHATSAPP_SYSTEM_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "recipient_type",
              "value": "individual"
            },
            {
              "name": "to",
              "value": "={{ $('Parse Details').item.json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text.body",
              "value": "={{ $json.BotReply }}"
            }
          ]
        },
        "options": {}
      },
      "id": "whatsapp-api-send-id",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1380,
        300
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Text Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Text Message?": {
      "main": [
        [
          {
            "node": "Parse Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Details": {
      "main": [
        [
          {
            "node": "SeerooTravels AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SeerooTravels AI Agent": {
      "main": [
        [
          {
            "node": "Log Chat to GSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Llama 3 Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SeerooTravels AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "SeerooTravels AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search Packages Tool": {
      "ai_tool": [
        [
          {
            "node": "SeerooTravels AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Booking Inquiry Tool": {
      "ai_tool": [
        [
          {
            "node": "SeerooTravels AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Log Chat to GSheet": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
